# EDA 기초

지난 시간에는 PCA와 같은 몇몇 시각화 툴과 더불어 그래프의 용례에 대해 살펴보았습니다.

오늘은 본격적으로 시각화를 해보는 시간을 갖도록 할텐데요,

그 전에 지난 시간에 빠진 부분에 대해 살펴보고 넘어가도록 하겠습니다.

[[링크]](https://towardsdatascience.com/the-5-clustering-algorithms-data-scientists-need-to-know-a36d136ef68)

PCA에 대해 더 자세히 알고 싶으신 분은 아래 링크를 참조하시기 바랍니다.

[[링크]](https://pca4ds.github.io/)

## Unit 7. 시각화

Fundamental 9~11과 아래 링크를 참조해 진행해주세요

[Matplotlib](https://wikidocs.net/book/5011)

오늘 데이터는 Fund 5의 과제로 나온 데이터입니다. 데이터에 대한 자세한 설명은 아래 링크를 참조해주세요.

[Kaggle](https://www.kaggle.com/c/bike-sharing-demand/data)

### 조별과제 1

조별로 힘을 합쳐 아래 노트북을 완성해주세요!

In [1]:
from sklearn.decomposition import PCA
from sklearn.datasets import load_digits
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns; sns.set()
import pandas as pd

import os

In [6]:
train = pd.read_csv('{}/aiffel/bike_sharing_demand_train.csv'.format(os.getenv('HOME')))
test = pd.read_csv('{}/aiffel/bike_sharing_demand_test.csv'.format(os.getenv('HOME')))
train.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1

In [8]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10886 entries, 0 to 10885
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   datetime    10886 non-null  object
 1   season      10886 non-null  int64
 2   holiday     10886 non-null  int64
 3   workingday  10886 non-null  int64
 4   weather     10886 non-null  int64
 5   temp        10886 non-null  float64
 6   atemp       10886 non-null  float64
 7   humidity    10886 non-null  int64
 8   windspeed   10886 non-null  float64
 9   casual      10886 non-null  int64
 10  registered  10886 non-null  int64
 11  count       10886 non-null  int64
dtypes: float64(3), int64(8), object(1)
memory usage: 1020.7+ KB

### Step 1. 타입 변경

**Fundamental 5. 날씨 좋은 월요일 오후 세 시, 자전거 타는 사람은 몇 명?** 를 참조하여 datetime 컬럼의 데이터타입을 변경해주세요.

In [19]:
train_copy = train.copy()
test_copy = test.copy()

In [29]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10886 entries, 0 to 10885
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   datetime    10886 non-null  object
 1   season      10886 non-null  int64
 2   holiday     10886 non-null  int64
 3   workingday  10886 non-null  int64
 4   weather     10886 non-null  int64
 5   temp        10886 non-null  float64
 6   atemp       10886 non-null  float64
 7   humidity    10886 non-null  int64
 8   windspeed   10886 non-null  float64
 9   casual      10886 non-null  int64
 10  registered  10886 non-null  int64
 11  count       10886 non-null  int64
dtypes: float64(3), int64(8), object(1)
memory usage: 1020.7+ KB

In [20]:
# <YOUR CODE>
train_copy['datetime']

0        2011-01-01 00:00:00
1        2011-01-01 01:00:00
2        2011-01-01 02:00:00
3        2011-01-01 03:00:00
4        2011-01-01 04:00:00
                ...
10881    2012-12-19 19:00:00
10882    2012-12-19 20:00:00
10883    2012-12-19 21:00:00
10884    2012-12-19 22:00:00
10885    2012-12-19 23:00:00
Name: datetime, Length: 10886, dtype: object

In [21]:
train_copy['datetime'] = pd.to_datetime(train_copy['datetime'])

In [22]:
train_copy['datetime']

0       2011-01-01 00:00:00
1       2011-01-01 01:00:00
2       2011-01-01 02:00:00
3       2011-01-01 03:00:00
4       2011-01-01 04:00:00
                ...
10881   2012-12-19 19:00:00
10882   2012-12-19 20:00:00
10883   2012-12-19 21:00:00
10884   2012-12-19 22:00:00
10885   2012-12-19 23:00:00
Name: datetime, Length: 10886, dtype: datetime64[ns]

In [23]:
test_copy['datetime'] = pd.to_datetime(test_copy['datetime'])

### Step 2. 결측치 탐색

데이터를 살펴보다보면 datetime 컬럼에 info()만으로 발견할 수 없었던 결측치가 있을 것입니다.

그러한 결측치가 있다면 어떻게 채워넣을지 토의해보고 구현해봅시다.

In [25]:
## isna()로는 검출 x >> 데이터 하나씩 확인 필요
train_copy.isna().sum()

datetime      0
season        0
holiday       0
workingday    0
weather       0
temp          0
atemp         0
humidity      0
windspeed     0
casual        0
registered    0
count         0
dtype: int64

In [128]:
## datetime64
## 각 행의 날짜 데이터가 한시간 차이가 아닌 행의 index 추출하는 for loop
import datetime
count = 0
for i in range(len(train_copy))[1:]:
    if train_copy['datetime'][i] - datetime.timedelta(hours=1) != train_copy['datetime'][i-1]:
        print(i)
        count+=1

29
49
72
95
118
141
236
258
305
396
411
431
435
482
505
624
646
669
717
762
784
877
1002
1022
1094
1117
1162
1187
1209
1231
1280
1323
1566
1778
2234
2690
3146
3602
3723
3771
3867
4055
4490
4510
4966
5422
5449
5640
5807
5875
5998
6330
6572
6785
6812
7028
7239
7695
8151
8607
9063
9519
9975
10146
10430

In [129]:
count

65

In [55]:
## kaggle 과 데이터 확인 결과 train은 한달에 1일부터 19일까지 존재 test는 한달에 20일 부터 존재
## 여기에 각 값들의 결측값가 추가적으로 존재
train_copy[0::19*24]

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0000,3,13,16
456,2011-02-02 02:00:00,1,0,1,3,9.02,11.365,93,8.9981,4,0,4
912,2011-03-02 11:00:00,1,0,1,1,13.94,15.150,53,22.0028,8,65,73
1368,2011-04-02 21:00:00,2,0,0,1,13.12,15.150,61,16.9979,24,53,77
1824,2011-05-02 22:00:00,2,0,1,2,24.60,29.545,73,0.0000,28,97,125
2280,2011-06-02 22:00:00,2,0,1,1,26.24,31.060,33,16.9979,14,141,155
2736,2011-07-02 22:00:00,3,0,0,1,29.52,33.335,51,11.0014,78,123,201
3192,2011-08-02 22:00:00,3,0,1,2,31.98,37.120,59,11.0014,22,169,191
3648,2011-09-02 22:00:00,3,0,1,2,26.24,30.305,73,11.0014,33,114,147
4104,2011-10-03 01:00:00,4,0,1,1,14.76,18.180,81,6.0032,1,5,6
4560,2011-11-03 02:00:00,4,0,1,1,13.94,16.665,76,8.9981,2,5,7
5016,2011-12-03 02:00:00,4,0,0,1,10.66,12.880,65,11.0014,9,41,50
5472,2012-01-03 03:00:00,1,0,1,1,6.56,6.820,55,19.0012,0,2,2
5928,2012-02-03 05:00:00,1,0,1,1,10.66,12.880,60,15.0013,0,17,17
6384,2012-03-03 06:00:00,1,0,0,2,14.76,18.180,93,6.0032,1,6,7
6840,2012-04-03 08:00:00,2,0,1,1,13.94,18.180,57,0.0000,27,577,604
7296,2012-05-03 09:00:00,2,0,1,2,19.68,23.485,88,7.0015,25,279,304
7752,2012-06-03 09:00:00,2,0,0,1,24.60,31.060,46,12.9980,70,230,300
8208,2012-07-03 09:00:00,3,0,1,1,32.80,37.120,49,11.0014,46,226,272
8664,2012-08-03 09:00:00,3,0,1,2,30.34,34.850,66,7.0015,69,327,396
9120,2012-09-03 09:00:00,3,1,0,2,28.70,33.335,84,8.9981,71,158,229
9576,2012-10-03 09:00:00,4,0,1,2,25.42,28.790,83,12.9980,30,332,362
10032,2012-11-03 09:00:00,4,0,0,2,13.94,15.150,49,19.9995,31,188,219
10488,2012-12-03 10:00:00,4,0,1,1,18.04,21.970,77,8.9981,31,105,136

In [57]:
## train과 test를 합쳐 하나의 df로 만들어 전체 날자에 대해 결측값 처리 후 다시 분할(한울님 아이디어)
data_set = pd.concat((train_copy,test_copy),axis=0)

In [60]:
data_set.sort_values('datetime',inplace = True)

In [62]:
data_set.iloc[0::19*24]

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0000,3.0,13.0,16.0
25,2011-01-21 01:00:00,1,0,1,2,9.84,11.365,70,16.9979,NaN,NaN,NaN
655,2011-02-10 13:00:00,1,0,1,1,7.38,8.335,29,19.9995,3.0,59.0,62.0
908,2011-03-02 07:00:00,1,0,1,1,9.02,10.605,64,16.9979,2.0,108.0,110.0
501,2011-03-21 18:00:00,2,0,1,2,21.32,25.000,72,15.0013,NaN,NaN,NaN
1536,2011-04-09 21:00:00,2,0,0,2,14.76,17.425,93,8.9981,10.0,65.0,75.0
958,2011-04-28 22:00:00,2,0,1,1,22.14,25.760,45,11.0014,NaN,NaN,NaN
2184,2011-05-17 22:00:00,2,0,1,2,22.14,25.760,88,19.0012,12.0,86.0,98.0
2352,2011-06-05 22:00:00,2,0,0,1,26.24,29.545,78,15.0013,36.0,94.0,130.0
1414,2011-06-24 22:00:00,3,0,1,1,28.70,32.575,48,0.0000,NaN,NaN,NaN
3000,2011-07-13 22:00:00,3,0,1,1,27.88,31.820,83,12.9980,48.0,136.0,184.0
3168,2011-08-01 22:00:00,3,0,1,1,28.70,32.575,70,6.0032,21.0,116.0,137.0
1870,2011-08-20 22:00:00,3,0,0,2,28.70,33.335,74,12.9980,NaN,NaN,NaN
3805,2011-09-09 13:00:00,3,0,1,1,28.70,33.335,79,6.0032,14.0,108.0,122.0
2329,2011-09-28 14:00:00,4,0,1,1,29.52,34.090,62,16.9979,NaN,NaN,NaN
4453,2011-10-17 14:00:00,4,0,1,1,23.78,27.275,49,12.9980,44.0,122.0,166.0
4621,2011-11-05 15:00:00,4,0,0,1,16.40,20.455,37,12.9980,141.0,202.0,343.0
2786,2011-11-24 15:00:00,4,1,0,1,20.50,24.240,31,16.9979,NaN,NaN,NaN
5270,2011-12-13 16:00:00,4,0,1,1,15.58,19.695,37,16.9979,13.0,194.0,207.0
5441,2012-01-01 19:00:00,1,0,0,3,17.22,21.210,67,26.0027,20.0,85.0,105.0
3245,2012-01-20 22:00:00,1,0,1,2,8.20,9.850,37,15.0013,NaN,NaN,NaN
6065,2012-02-08 23:00:00,1,0,1,2,9.84,12.120,87,11.0014,3.0,57.0,60.0
3702,2012-02-28 01:00:00,1,0,1,1,15.58,19.695,62,11.0014,NaN,NaN,NaN
6740,2012-03-18 03:00:00,1,0,0,2,18.04,21.970,88,8.9981,3.0,15.0,18.0
6908,2012-04-06 04:00:00,2,0,1,1,13.94,15.910,49,16.9979,2.0,3.0,5.0
4161,2012-04-25 05:00:00,2,0,1,1,13.94,18.180,66,0.0000,NaN,NaN,NaN
7556,2012-05-14 05:00:00,2,0,1,2,22.14,25.760,77,11.0014,1.0,25.0,26.0
7724,2012-06-02 05:00:00,2,0,0,1,20.50,24.240,72,12.9980,1.0,11.0,12.0
4617,2012-06-21 05:00:00,3,0,1,1,28.70,33.335,84,7.0015,NaN,NaN,NaN
8372,2012-07-10 05:00:00,3,0,1,1,27.06,30.305,83,8.9981,3.0,39.0,42.0
5073,2012-07-29 05:00:00,3,0,0,1,25.42,29.545,78,12.9980,NaN,NaN,NaN
8996,2012-08-17 05:00:00,3,0,1,1,26.24,12.120,73,7.0015,2.0,34.0,36.0
9164,2012-09-05 05:00:00,3,0,1,2,28.70,33.335,79,19.9995,1.0,39.0,40.0
5529,2012-09-24 05:00:00,4,0,1,1,18.86,22.725,63,0.0000,NaN,NaN,NaN
9812,2012-10-13 05:00:00,4,0,0,1,12.30,14.395,61,12.9980,0.0,11.0,11.0
10016,2012-11-02 17:00:00,4,0,1,1,15.58,19.695,40,22.0028,57.0,581.0,638.0
5986,2012-11-21 18:00:00,4,0,1,1,17.22,21.210,38,7.0015,NaN,NaN,NaN
10665,2012-12-10 19:00:00,4,0,1,1,21.32,25.000,77,19.0012,18.0,409.0,427.0
6442,2012-12-29 21:00:00,1,0,0,2,11.48,12.120,56,32.9975,NaN,NaN,NaN

In [63]:
data_set.reset_index(drop=True, inplace =True)

In [113]:
## solution_1(성훈님 아이디어)
## for loop (모든 데이터)
## 0 datetime이 1 hour가 차이나지 않는 곳의 인덱스를 추출
## 추출한 인덱스를 기준으로 두 개의 배열로 분할
## 분할한 배열에 한칸을 추가하고 다시 두개의 배열 stack
## datetime 값에는 1 hour를 추가한 datetime 값 입력 

for i in range(len(data_set))[1:]:
    if data_set['datetime'][i] - datetime.timedelta(hours=1) != data_set['datetime'][i-1]:
        print(i)
        a= data_set.iloc[:i,:]
        b = data_set.iloc[i:,:]
        a.append([])
        a['datetime'].iloc[-1] = a['datetime'].iloc[-2]+datetime.timedelta(hours=1)
        
        data_set = pd.concat((a,b))

29
49
72
95
118
141
236
258
305
396
411
484
506
527
551
574
587
599
623
647
692
739
762
881
903
926
974
1019
1041
1139
1181
1203
1226
1249
1297
1317
1318
1462
1482
1554
1577
1622
1647
1669
1691
1740
1811
1858
1954
1976
2310
5636
5846
5894
5990
6877
7835
8484
8506
8554
8672
8863
9030
9509
9845
9867
10059
10320
10848
11064
15884
16090
16593
17193
17215

In [114]:
data_set.head(50)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0000,3.0,13.0,16.0
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0000,8.0,32.0,40.0
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0000,5.0,27.0,32.0
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0000,3.0,10.0,13.0
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0000,0.0,1.0,1.0
5,2011-01-01 05:00:00,1,0,0,2,9.84,12.880,75,6.0032,0.0,1.0,1.0
6,2011-01-01 06:00:00,1,0,0,1,9.02,13.635,80,0.0000,2.0,0.0,2.0
7,2011-01-01 07:00:00,1,0,0,1,8.20,12.880,86,0.0000,1.0,2.0,3.0
8,2011-01-01 08:00:00,1,0,0,1,9.84,14.395,75,0.0000,1.0,7.0,8.0
9,2011-01-01 09:00:00,1,0,0,1,13.12,17.425,76,0.0000,8.0,6.0,14.0
10,2011-01-01 10:00:00,1,0,0,1,15.58,19.695,76,16.9979,12.0,24.0,36.0
11,2011-01-01 11:00:00,1,0,0,1,14.76,16.665,81,19.0012,26.0,30.0,56.0
12,2011-01-01 12:00:00,1,0,0,1,17.22,21.210,77,19.0012,29.0,55.0,84.0
13,2011-01-01 13:00:00,1,0,0,2,18.86,22.725,72,19.9995,47.0,47.0,94.0
14,2011-01-01 14:00:00,1,0,0,2,18.86,22.725,72,19.0012,35.0,71.0,106.0
15,2011-01-01 15:00:00,1,0,0,2,18.04,21.970,77,19.9995,40.0,70.0,110.0
16,2011-01-01 16:00:00,1,0,0,2,17.22,21.210,82,19.9995,41.0,52.0,93.0
17,2011-01-01 17:00:00,1,0,0,2,18.04,21.970,82,19.0012,15.0,52.0,67.0
18,2011-01-01 18:00:00,1,0,0,3,17.22,21.210,88,16.9979,9.0,26.0,35.0
19,2011-01-01 19:00:00,1,0,0,3,17.22,21.210,88,16.9979,6.0,31.0,37.0
20,2011-01-01 20:00:00,1,0,0,2,16.40,20.455,87,16.9979,11.0,25.0,36.0
21,2011-01-01 21:00:00,1,0,0,2,16.40,20.455,87,12.9980,3.0,31.0,34.0
22,2011-01-01 22:00:00,1,0,0,2,16.40,20.455,94,15.0013,11.0,17.0,28.0
23,2011-01-01 23:00:00,1,0,0,2,18.86,22.725,88,19.9995,15.0,24.0,39.0
24,2011-01-02 00:00:00,1,0,0,2,18.86,22.725,88,19.9995,4.0,13.0,17.0
25,2011-01-02 01:00:00,1,0,0,2,18.04,21.970,94,16.9979,1.0,16.0,17.0
26,2011-01-02 02:00:00,1,0,0,2,17.22,21.210,100,19.0012,1.0,8.0,9.0
27,2011-01-02 03:00:00,1,0,0,2,18.86,22.725,94,12.9980,2.0,4.0,6.0
28,2011-01-02 04:00:00,1,0,0,2,18.86,22.725,94,12.9980,2.0,1.0,3.0
29,2011-01-02 06:00:00,1,0,0,3,17.22,21.210,77,19.9995,0.0,2.0,2.0
30,2011-01-02 07:00:00,1,0,0,2,16.40,20.455,76,12.9980,0.0,1.0,1.0
31,2011-01-02 08:00:00,1,0,0,3,16.40,20.455,71,15.0013,0.0,8.0,8.0
32,2011-01-02 09:00:00,1,0,0,2,15.58,19.695,76,15.0013,1.0,19.0,20.0
33,2011-01-02 10:00:00,1,0,0,2,14.76,17.425,81,15.0013,7.0,46.0,53.0
34,2011-01-02 11:00:00,1,0,0,2,14.76,16.665,71,16.9979,16.0,54.0,70.0
35,2011-01-02 12:00:00,1,0,0,2,14.76,16.665,66,19.9995,20.0,73.0,93.0
36,2011-01-02 13:00:00,1,0,0,2,14.76,17.425,66,8.9981,11.0,64.0,75.0
37,2011-01-02 14:00:00,1,0,0,3,14.76,17.425,76,12.9980,4.0,55.0,59.0
38,2011-01-02 15:00:00,1,0,0,3,13.94,16.665,81,11.0014,19.0,55.0,74.0
39,2011-01-02 16:00:00,1,0,0,3,13.94,16.665,71,11.0014,9.0,67.0,76.0
40,2011-01-02 17:00:00,1,0,0,1,13.94,16.665,57,12.9980,7.0,58.0,65.0
41,2011-01-02 18:00:00,1,0,0,2,14.76,16.665,46,22.0028,10.0,43.0,53.0
42,2011-01-02 19:00:00,1,0,0,1,13.12,14.395,42,30.0026,1.0,29.0,30.0
43,2011-01-02 20:00:00,1,0,0,1,12.30,13.635,39,23.9994,5.0,17.0,22.0
44,2011-01-02 21:00:00,1,0,0,1,10.66,11.365,44,22.0028,11.0,20.0,31.0
45,2011-01-02 22:00:00,1,0,0,1,9.84,10.605,44,19.9995,0.0,9.0,9.0
46,2011-01-02 23:00:00,1,0,0,1,9.02,11.365,47,11.0014,0.0,8.0,8.0
47,2011-01-03 00:00:00,1,0,1,1,9.02,9.850,44,23.9994,0.0,5.0,5.0
48,2011-01-03 01:00:00,1,0,1,1,8.20,8.335,44,27.9993,0.0,2.0,2.0
49,2011-01-03 04:00:00,1,0,1,1,6.56,6.820,47,26.0027,0.0,1.0,1.0

In [76]:
## solution_2
## 정적 할당
## start date와 end date간의 차이를 구해 빈 배열 생성 shape = (len(data_set),1)
## datetime 데이터 생성후 할당
## 기존 데이터의 datetime과 dummy배열의 datetime 비교후 같으면 각 데이터 값 삽입(pd.merge 사용)

start_date = data_set['datetime'].iloc[0]
end_date = data_set['datetime'].iloc[-1]

print(start_date,end_date)

dummy_size = (end_date - start_date)/datetime.timedelta(hours=1)
print(dummy_size)

2011-01-01 00:00:00 2012-12-31 23:00:00
17543.0

In [98]:
dummy_array = pd.DataFrame(np.zeros(int(dummy_size)).reshape(int(dummy_size),-1))

In [100]:
dummy_array.columns = ['datetime']

In [102]:
dummy_array['datetime'] = [start_date+datetime.timedelta(hours = x) for x in range(len(dummy_array))]

In [103]:
dummy_array

                 datetime
0     2011-01-01 00:00:00
1     2011-01-01 01:00:00
2     2011-01-01 02:00:00
3     2011-01-01 03:00:00
4     2011-01-01 04:00:00
...                   ...
17538 2012-12-31 18:00:00
17539 2012-12-31 19:00:00
17540 2012-12-31 20:00:00
17541 2012-12-31 21:00:00
17542 2012-12-31 22:00:00

[17543 rows x 1 columns]

In [107]:
data_set

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0000,3.0,13.0,16.0
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0000,8.0,32.0,40.0
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0000,5.0,27.0,32.0
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0000,3.0,10.0,13.0
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0000,0.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
17374,2012-12-31 19:00:00,1,0,1,2,10.66,12.880,60,11.0014,NaN,NaN,NaN
17375,2012-12-31 20:00:00,1,0,1,2,10.66,12.880,60,11.0014,NaN,NaN,NaN
17376,2012-12-31 21:00:00,1,0,1,1,10.66,12.880,60,11.0014,NaN,NaN,NaN
17377,2012-12-31 22:00:00,1,0,1,1,10.66,13.635,56,8.9981,NaN,NaN,NaN
17378,2012-12-31 23:00:00,1,0,1,1,10.66,13.635,65,8.9981,NaN,NaN,NaN

In [105]:
data_set2=pd.merge(dummy_array,data_set,how = 'left')

In [122]:
data_set2.head(50)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1.0,0.0,0.0,1.0,9.84,14.395,81.0,0.0000,3.0,13.0,16.0
1,2011-01-01 01:00:00,1.0,0.0,0.0,1.0,9.02,13.635,80.0,0.0000,8.0,32.0,40.0
2,2011-01-01 02:00:00,1.0,0.0,0.0,1.0,9.02,13.635,80.0,0.0000,5.0,27.0,32.0
3,2011-01-01 03:00:00,1.0,0.0,0.0,1.0,9.84,14.395,75.0,0.0000,3.0,10.0,13.0
4,2011-01-01 04:00:00,1.0,0.0,0.0,1.0,9.84,14.395,75.0,0.0000,0.0,1.0,1.0
5,2011-01-01 05:00:00,1.0,0.0,0.0,2.0,9.84,12.880,75.0,6.0032,0.0,1.0,1.0
6,2011-01-01 06:00:00,1.0,0.0,0.0,1.0,9.02,13.635,80.0,0.0000,2.0,0.0,2.0
7,2011-01-01 07:00:00,1.0,0.0,0.0,1.0,8.20,12.880,86.0,0.0000,1.0,2.0,3.0
8,2011-01-01 08:00:00,1.0,0.0,0.0,1.0,9.84,14.395,75.0,0.0000,1.0,7.0,8.0
9,2011-01-01 09:00:00,1.0,0.0,0.0,1.0,13.12,17.425,76.0,0.0000,8.0,6.0,14.0
10,2011-01-01 10:00:00,1.0,0.0,0.0,1.0,15.58,19.695,76.0,16.9979,12.0,24.0,36.0
11,2011-01-01 11:00:00,1.0,0.0,0.0,1.0,14.76,16.665,81.0,19.0012,26.0,30.0,56.0
12,2011-01-01 12:00:00,1.0,0.0,0.0,1.0,17.22,21.210,77.0,19.0012,29.0,55.0,84.0
13,2011-01-01 13:00:00,1.0,0.0,0.0,2.0,18.86,22.725,72.0,19.9995,47.0,47.0,94.0
14,2011-01-01 14:00:00,1.0,0.0,0.0,2.0,18.86,22.725,72.0,19.0012,35.0,71.0,106.0
15,2011-01-01 15:00:00,1.0,0.0,0.0,2.0,18.04,21.970,77.0,19.9995,40.0,70.0,110.0
16,2011-01-01 16:00:00,1.0,0.0,0.0,2.0,17.22,21.210,82.0,19.9995,41.0,52.0,93.0
17,2011-01-01 17:00:00,1.0,0.0,0.0,2.0,18.04,21.970,82.0,19.0012,15.0,52.0,67.0
18,2011-01-01 18:00:00,1.0,0.0,0.0,3.0,17.22,21.210,88.0,16.9979,9.0,26.0,35.0
19,2011-01-01 19:00:00,1.0,0.0,0.0,3.0,17.22,21.210,88.0,16.9979,6.0,31.0,37.0
20,2011-01-01 20:00:00,1.0,0.0,0.0,2.0,16.40,20.455,87.0,16.9979,11.0,25.0,36.0
21,2011-01-01 21:00:00,1.0,0.0,0.0,2.0,16.40,20.455,87.0,12.9980,3.0,31.0,34.0
22,2011-01-01 22:00:00,1.0,0.0,0.0,2.0,16.40,20.455,94.0,15.0013,11.0,17.0,28.0
23,2011-01-01 23:00:00,1.0,0.0,0.0,2.0,18.86,22.725,88.0,19.9995,15.0,24.0,39.0
24,2011-01-02 00:00:00,1.0,0.0,0.0,2.0,18.86,22.725,88.0,19.9995,4.0,13.0,17.0
25,2011-01-02 01:00:00,1.0,0.0,0.0,2.0,18.04,21.970,94.0,16.9979,1.0,16.0,17.0
26,2011-01-02 02:00:00,1.0,0.0,0.0,2.0,17.22,21.210,100.0,19.0012,1.0,8.0,9.0
27,2011-01-02 03:00:00,1.0,0.0,0.0,2.0,18.86,22.725,94.0,12.9980,2.0,4.0,6.0
28,2011-01-02 04:00:00,1.0,0.0,0.0,2.0,18.86,22.725,94.0,12.9980,2.0,1.0,3.0
29,2011-01-02 05:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,2011-01-02 06:00:00,1.0,0.0,0.0,3.0,17.22,21.210,77.0,19.9995,0.0,2.0,2.0
31,2011-01-02 07:00:00,1.0,0.0,0.0,2.0,16.40,20.455,76.0,12.9980,0.0,1.0,1.0
32,2011-01-02 08:00:00,1.0,0.0,0.0,3.0,16.40,20.455,71.0,15.0013,0.0,8.0,8.0
33,2011-01-02 09:00:00,1.0,0.0,0.0,2.0,15.58,19.695,76.0,15.0013,1.0,19.0,20.0
34,2011-01-02 10:00:00,1.0,0.0,0.0,2.0,14.76,17.425,81.0,15.0013,7.0,46.0,53.0
35,2011-01-02 11:00:00,1.0,0.0,0.0,2.0,14.76,16.665,71.0,16.9979,16.0,54.0,70.0
36,2011-01-02 12:00:00,1.0,0.0,0.0,2.0,14.76,16.665,66.0,19.9995,20.0,73.0,93.0
37,2011-01-02 13:00:00,1.0,0.0,0.0,2.0,14.76,17.425,66.0,8.9981,11.0,64.0,75.0
38,2011-01-02 14:00:00,1.0,0.0,0.0,3.0,14.76,17.425,76.0,12.9980,4.0,55.0,59.0
39,2011-01-02 15:00:00,1.0,0.0,0.0,3.0,13.94,16.665,81.0,11.0014,19.0,55.0,74.0
40,2011-01-02 16:00:00,1.0,0.0,0.0,3.0,13.94,16.665,71.0,11.0014,9.0,67.0,76.0
41,2011-01-02 17:00:00,1.0,0.0,0.0,1.0,13.94,16.665,57.0,12.9980,7.0,58.0,65.0
42,2011-01-02 18:00:00,1.0,0.0,0.0,2.0,14.76,16.665,46.0,22.0028,10.0,43.0,53.0
43,2011-01-02 19:00:00,1.0,0.0,0.0,1.0,13.12,14.395,42.0,30.0026,1.0,29.0,30.0
44,2011-01-02 20:00:00,1.0,0.0,0.0,1.0,12.30,13.635,39.0,23.9994,5.0,17.0,22.0
45,2011-01-02 21:00:00,1.0,0.0,0.0,1.0,10.66,11.365,44.0,22.0028,11.0,20.0,31.0
46,2011-01-02 22:00:00,1.0,0.0,0.0,1.0,9.84,10.605,44.0,19.9995,0.0,9.0,9.0
47,2011-01-02 23:00:00,1.0,0.0,0.0,1.0,9.02,11.365,47.0,11.0014,0.0,8.0,8.0
48,2011-01-03 00:00:00,1.0,0.0,1.0,1.0,9.02,9.850,44.0,23.9994,0.0,5.0,5.0
49,2011-01-03 01:00:00,1.0,0.0,1.0,1.0,8.20,8.335,44.0,27.9993,0.0,2.0,2.0

In [131]:
data_set2 = data_set2.fillna(method = 'ffill')

In [142]:
## data_set split to train, test
## 날짜 데이터에서 몇일인지 추출해서 column화
## loc 을 이용해서 19일 기준을 train test split
data_set2['day'] = data_set2['datetime'].dt.day

In [150]:
data_set2['day']

0         1
1         1
2         1
3         1
4         1
         ..
17538    31
17539    31
17540    31
17541    31
17542    31
Name: day, Length: 17543, dtype: int64

In [149]:
train_set2 = data_set2.loc[data_set2['day']<20,:]
test_set2 = data_set2.loc[data_set2['day']>=20,:]

In [148]:
train_set2.iloc[0::19*24]

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,day
0,2011-01-01,1.0,0.0,0.0,1.0,9.84,14.395,81.0,0.0000,3.0,13.0,16.0,1
744,2011-02-01,1.0,0.0,1.0,2.0,6.56,9.090,64.0,7.0015,2.0,6.0,8.0,1
1416,2011-03-01,1.0,0.0,1.0,1.0,12.30,13.635,70.0,31.0009,0.0,7.0,7.0,1
2160,2011-04-01,2.0,0.0,1.0,3.0,10.66,12.880,100.0,11.0014,0.0,6.0,6.0,1
2880,2011-05-01,2.0,0.0,0.0,1.0,17.22,21.210,67.0,6.0032,19.0,77.0,96.0,1
3624,2011-06-01,2.0,0.0,1.0,1.0,28.70,33.335,79.0,11.0014,9.0,25.0,34.0,1
4344,2011-07-01,3.0,0.0,1.0,1.0,27.06,31.060,50.0,0.0000,20.0,48.0,68.0,1
5088,2011-08-01,3.0,0.0,1.0,1.0,29.52,34.090,70.0,15.0013,7.0,22.0,29.0,1
5832,2011-09-01,3.0,0.0,1.0,1.0,24.60,28.790,78.0,7.0015,18.0,33.0,51.0,1
6552,2011-10-01,4.0,0.0,0.0,1.0,20.50,24.240,63.0,26.0027,24.0,106.0,130.0,1
7296,2011-11-01,4.0,0.0,1.0,2.0,14.76,17.425,87.0,11.0014,3.0,18.0,21.0,1
8016,2011-12-01,4.0,0.0,1.0,1.0,11.48,12.880,52.0,22.0028,1.0,19.0,20.0,1
8760,2012-01-01,1.0,0.0,0.0,1.0,14.76,18.940,66.0,0.0000,5.0,43.0,48.0,1
9504,2012-02-01,1.0,0.0,1.0,1.0,18.04,21.970,38.0,19.0012,0.0,31.0,31.0,1
10200,2012-03-01,1.0,0.0,1.0,2.0,17.22,21.210,94.0,0.0000,1.0,10.0,11.0,1
10944,2012-04-01,2.0,0.0,0.0,2.0,14.76,16.665,76.0,16.9979,8.0,59.0,67.0,1
11664,2012-05-01,2.0,0.0,1.0,2.0,20.50,24.240,59.0,12.9980,7.0,28.0,35.0,1
12408,2012-06-01,2.0,0.0,1.0,1.0,27.06,31.060,50.0,16.9979,10.0,76.0,86.0,1
13128,2012-07-01,3.0,0.0,0.0,1.0,31.16,36.365,66.0,0.0000,27.0,122.0,149.0,1
13872,2012-08-01,3.0,0.0,1.0,1.0,27.88,31.820,79.0,11.0014,3.0,44.0,47.0,1
14616,2012-09-01,3.0,0.0,0.0,1.0,30.34,34.090,62.0,7.0015,22.0,146.0,168.0,1
15336,2012-10-01,4.0,0.0,1.0,1.0,18.86,22.725,72.0,7.0015,6.0,39.0,45.0,1
16080,2012-11-01,4.0,0.0,1.0,1.0,14.76,18.180,57.0,6.0032,8.0,52.0,60.0,1
16800,2012-12-01,4.0,0.0,0.0,1.0,10.66,15.150,81.0,0.0000,9.0,99.0,108.0,1

In [151]:
train_set2.reset_index(drop=True,inplace=True)
test_set2.reset_index(drop=True,inplace=True)

In [161]:
train_set2.drop(columns=['day'],inplace=True)

/opt/conda/lib/python3.9/site-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [162]:
test_set2.drop(columns=['day'],inplace=True)

### Step 3. 데이터 생성

데이터의 세부 정보를 확인하면 holiday와 workingday가 아래와 같이 서술되어있습니다.

holiday; whether the day is considered a holiday

workingday; whether the day is neither a weekend nor holiday

정작 그런데 정작 weekend 데이터 컬럼은 없군요?

이게 없어도 되는지, 혹은 있어야 좋을지 토론을 해본 후 필요하다고 생각되면 weekend 컬럼을 생성해주세요. 만일 필요가 없다면 생략해도 됩니다.

혹은 기타 다른 데이터를 생성하고 싶다면 이번 step에서 생성해주세요.

In [157]:
# <YOUR CODE>

train_set2['weekend'] = [0 if x <5 else 1 for x in train_set2['datetime'].dt.weekday]
test_set2['weekend'] = [0 if x <5 else 1 for x in test_set2['datetime'].dt.weekday]

/tmp/ipykernel_14/1788884657.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_set2['weekend'] = [0 if x <5 else 1 for x in train_set2['datetime'].dt.weekday]
/tmp/ipykernel_14/1788884657.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_set2['weekend'] = [0 if x <5 else 1 for x in test_set2['datetime'].dt.weekday]

### Step 4. 시각화를 통한 EDA

본 풀잎에서는 다루지 않았지만(노드에서는 등장) binning 역시 DS에서 상당히 많이 사용되는 스킬 중 하나입니다. 아래 링크를 통해서 binning의 역할에 대해서 함께 살펴봅시다.

[링크](https://m.blog.naver.com/gksshdk8003/221517070898)

 Step 4는 다시 돌아올 예정입니다. 아래 두가지 과제를 한 뒤 넘어가기 바랍니다. 다시 돌아왔다면 원하는 대로 시각화와 EDA를 진행해보시기 바랍니다.
 
 1. datetime을 원하는대로 binning하고(새벽,오전,오후,밤 / 일일 / 주 등...) binning의 효과를 잘 보여줄 수 있는 그래프를 선택해 그려주세요.

In [ ]:
import matplot.pyplot as plt

In [ ]:
## 자전거 많이 타는 시간
## 출퇴근 시간
## 주말 낮

In [ ]:
# <YOUR CODE>

  2. temp, humidity, windspeed를 각각 축으로 삼는 산점도(혹은 저 중 두개를 두 축으로 삼는 산점도)를 그리고 표기되는 데이터(점)의 크기는 count의 크기를 반영하도록 만드시오.

In [ ]:
# <YOUR CODE>

# Step 5. 예측하기

충분히 EDA가 진행되었다면 bike_sharing_demand_train.csv 에서 적당한 데이터를 선별하여 X로 두고 y는 count 컬럼으로 삼아 예측하고 bike_sharing_demand_test.csv 에 count 컬럼을 생성하여 채워넣어봅시다.

In [ ]:
# <YOUR CODE>

어떤 결과가 나왔나요?

Step 4로 돌아가 EDA를 진행하며 찾아낸 적절한 컬럼을 골라 성능을 개선시켜봅시다.

### Step 6. (보너스) 성능 개선

어쩌면 casual와 registered는 각기 다른 요소의 영향을 받을지도 모르겠습니다. casual와 registered를 따로 예측하고 그 합산이 count가 되도록 Step 5를 반복해주세요.

혹은 [casual, registered, count]라는 벡터를 예측하는 것도 재밌을 겁니다.

In [ ]:
# <YOUR CODE>